In [1]:
import pandas as pd
pd.__version__
# Pandas 主要引入了两种新的数据结构：Series 和 DataFrame。

'2.2.3'

In [6]:
# Series：一维数据结构，类似于列表（List），但拥有更强的功能，支持索引。
series = pd.Series(['a', 'b', 'c', 'd'], index=range(4))
series

0    a
1    b
2    c
3    d
dtype: object

In [2]:
# DataFrame：二维数据结构，类似于表格或数据库中的数据表，行和列都具有标签（索引）。
# 通过字典创建dataframe对象
mydataset = {
  'sites': ["Google", "Runoob", "Wiki"],
  'number': [1, 2, 3]
}
pd.DataFrame(mydataset)

    sites  number
0  Google       1
1  Runoob       2
2    Wiki       3